<!doctype html>
<html>
<head>
<title>{{ video_id }} - 控制面板 - HaiLiGu</title>
<meta http-equiv="x-ua-compatible" content="ie=9"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<script src="/static/js/raphael.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
 var paper;
 var baseUrl = "/";
 
 //just format number
 function formatNumber(num, pos) {
 	return Math.round(num * Math.pow(10, pos)) / Math.pow(10, pos);
 }
 
 $(function() {
     
     //technically, it should be equal to width && height of frame image
     {% if frame_size[0] >1280 or frame_size[1] >720 %}
     width = {{ (frame_size[0]*0.6180339887)|int }}
     height = {{ (frame_size[1]*0.6180339887)|int }}
     {% else %}
     width = {{ frame_size[0] }}
     height = {{ frame_size[1] }}
     {% endif %}
     frameX = Math.ceil($("#drawline").offset().left);
     frameY = Math.ceil($("#drawline").offset().top);
     
     xOffset = 0
     yOffset = 0
     
     paper = new Raphael("drawline", width, height);     
     c = paper.rect(xOffset, yOffset, width, height).attr({
         fill: "#29ECC7",
         stroke: "blue",
         opacity: .1
     });
     
     frameW = Math.ceil($("#drawline").width());
     frameH = Math.ceil($("#drawline").height());

     startPoint = {}
     endPoint = {}     

     startDragFunction = function(x, y, e) {
         startPoint.x = x;
         startPoint.y = y;

     }

     //http://dmitrybaranovskiy.github.io/raphael/reference.html#Element.drag   onmove, onstart, onend
     draggingFunction = function(dx, dy, x, y) {
         endPoint.x = x;
         endPoint.y = y;
     }

     endDragFunction = function(x, y, e) {

         x1 = startPoint.x;
         y1 = startPoint.y;

         x2 = endPoint.x;
         y2 = endPoint.y;

         //http://dmitrybaranovskiy.github.io/raphael/reference.html#Paper.path
         //absolute
         paper.path("M" + x1 + " " + y1 + "L" + x2 + " " + y2).attr({
             stroke: "red"
         });
         
         //relative
         //paper.path("m" + (x1 - frameX) + " " + (y1 - frameY) + "l" + (x2 - frameX) + " " + (y2 - frameY)).attr({stroke: "blue"});

         //debug
         //console.log('FrameXYWH  ' + frameX + ',' + frameY + ',' + frameW + ',' + frameH)
         //console.log('absolute (x1,y1)=(' + (x1) + ',' + (y1) + '),(x2,y2)=(' + x2 + ',' + y2 + ')')
         //console.log('relative (x1,y1)=(' + (x1 - frameX) + ',' + (y1 - frameY) + '),(x2,y2)=(' + (x2 - frameX) + ',' + (y2 - frameY) + ')')
         $("#points").val(formatNumber((x1 - frameX)/frameW,6) + "," + formatNumber((y1 - frameY)/frameH,6) + "," + formatNumber((x2 - frameX)/frameW,6)  + "," + formatNumber((y2 - frameY)/frameH,6));
         $("#real-points").val((x1 - frameX) + "," + (y1 - frameY) + "," + (x2 - frameX)  + "," + (y2 - frameY));
     }

     paper.set(c).drag(draggingFunction, startDragFunction, endDragFunction);

     $("#clear").click(function() {
         paper.clear();
         c = paper.rect(xOffset, yOffset, width, height).attr({
             fill: "#29ECC7",
             stroke: "blue",
             opacity: .1
         });
         paper.set(c).drag(draggingFunction, startDragFunction, endDragFunction);
     });
     
     $("#getFrameXYWH").click(function() {
         $("#frameXYWH").val(frameX + "," + frameY + "," + frameW + "," + frameH);
     });
 });

function mouseMove(ev) {
	Ev = ev || window.event;
	var mousePos = mouseCoords(ev);
	document.getElementById("mouseX").value = mousePos.x;
	document.getElementById("mouseY").value = mousePos.y;
}

function mouseCoords(ev) {
	if (ev.pageX || ev.pageY) {
		return {
			x: ev.pageX,
			y: ev.pageY
		};
	}
	return {
		x: ev.clientX + document.body.scrollLeft - document.body.clientLeft,
		y: ev.clientY + document.body.scrollTop - document.body.clientTop
	};
}

document.onmousemove = mouseMove;

function getFrameXYWH() {
	alert("x:" + $("#drawline").offset().left + ",y:" + $("#drawline").offset().top);
}

function showMessage(jsonData, message) {
	obj = jQuery.parseJSON(jsonData);
	if (obj.meta.code == 0) {
		//alert(message);
		$("#results").append(message);
	} else {
		if (obj.meta.code > 0) {
			//alert(obj.meta.message);
            $("#results").append(obj.meta.message);
		}
	}
}

function setPoints() {
	if ($("#points").val() == "") {
		alert("请先划线再提交！")
		$("#points").focus;
		return false;
	}
	$.post(baseUrl + "set_points", {
		vid: $('#vid').val(),
		points: $("#points").val()
	},
		function (data) {
		$("#results").html(data);
		showMessage(data, "设置坐标成功,可以启动任务了！");
	},
		"text");
	return false;
}

function startTask() {
	$.post(baseUrl + "start", {
		vid: $('#vid').val()
	},
		function (data) {
		$("#results").html(data);
		obj = jQuery.parseJSON(data);
		$('#oid').val(obj.results.result);
		$('#doPlay').attr('href', baseUrl + "play?vid=" + $('#vid').val() + '&oid=' + $('#oid').val());
		showMessage(data, "任务启动成功！");
	},
		"text");
	return false;
}

function stopTask() {
	if ($("#oid").val() == "") {
		alert("任务还未启动！")
		return false;
	}
	$.post(baseUrl + "stop", {
		vid: $('#vid').val(),
		oid: $('#oid').val()
	},
		function (data) {
		$("#results").html(data);
		showMessage(data, "任务停止成功！");
	},
		"text");
	return false;
}

function setPointsTwo() {
	if ($("#oid").val().trim() == "") {
		alert("任务还未启动！")
		return false;
	}
	$.post(baseUrl + "set_points_two", {
		vid: $('#vid').val(),
		oid: $('#oid').val(),
		points: $('#points').val()

	},
		function (data) {
		$("#results").html(data);
		showMessage(data, "动态应用坐标成功，请查看直播页面！");
	},
		"text");
	return false;
}

function extractFrame() {
	$.post(baseUrl + "extract_frame", {
		vid: $('#vid').val()
	},
		function (data) {
		$("#results").html(data);
		obj = jQuery.parseJSON(data);
		$("#drawline").attr("style","float:left;background-image:url(" + obj.results.result + "?" +
            Math.random() + ");background-repeat:no-repeat;width:auto;height:auto;margin:0;");
		showMessage(data, "截图提取成功！");
	},
		"text");
	return false;
}
</script>
</head>
<body>     
    <div id="bodyArea">
        <div id="drawline" style="float:left;background-image:url({{ frame_image }});background-repeat:no-repeat;width:auto;height:auto;margin:0;"></div>
        <br />
        <div id="menu" style="margin:0">
                <h3>按住鼠标左键按需拖动即可,可多次划线,提交时仅应用最后一次划线端点坐标</h3>
                鼠标X: <input id="mouseX" type="text"> 鼠标Y: <input id="mouseY" type="text">
                 XYWH: <input id="frameXYWH" type="text">
                       <input id="getFrameXYWH" type="button" value="获取XYWH" style="margin:5px 0px 0px 20px;"/>
                       <button id="doExtract" type="button" value="submit" onclick="return extractFrame();" style="margin:5px 0px 0px 20px;">更换截图</button>
                       <button id="clear" value="clear"  onclick="return false;" style="margin:5px 0px 0px 20px;">重新划线</button><br /><br />
                       <input id="real-points" type="text" style="margin:5px 0px 0px 20px;" size="90">
                <form id="postform" name="postform" method="post" action="">                    
                    <input id="points" type="text" style="margin:5px 0px 0px 20px;" size="90">
                    <input id="vid" value="{{ video_id }}" type="hidden">
                    <input id="oid" value="" type="hidden">

                    <button id="doPost" type="button" value="submit" onclick="return setPoints();" style="margin:5px 0px 0px 20px;">设置坐标</button>
                    <button id="doStart" type="button" value="submit" onclick="return startTask();" style="margin:5px 0px 0px 20px;">启动处理</button>
                    <button id="doPostTwo" type="button" value="submit" onclick="return setPointsTwo();" style="margin:5px 0px 0px 20px;">动态应用坐标(启动后)</button>
                    <button id="doStop" type="button" value="submit" onclick="return stopTask();" style="margin:5px 0px 0px 20px;">停止处理</button>
                    <a id="doPlay" href="/play?vid=" target="_blank" style="margin:5px 0px 0px 20px;">查看直播</a>
                </form>
                <textarea id="results" rows="16" cols="60" style="margin:5px 0px 0px 20px;"></textarea>
        </div>
        
    </div>
</body>
</html>